<div class="center-wrapper">
    <div class="card">
        <div class="card-header">
            <h2 class="form-title">Shorten Your URL</h2>
        </div>
        <div class="card-body">
            <form id="urlForm">
                <h6 class="form-subtitle">Paste the URL to be shortened</h6>
                <div class="form-group">
                    <input class="form-control" name="originalUrl" id="urlInput" placeholder="Enter your URL here">
                    <span id="urlInputError" class="error-message" style="margin-left: 5px;"></span>
                </div>
                <button type="submit" class="btn-custom">Shorten URL</button>
                <p class="description-text">SnapURL! is a free tool for creating short, easy-to-share links from long URLs. Simplify your sharing!</p>
            </form>
        </div>
    </div>
</div>

<script src="/js/urlForm.js"></script>